@tailwind base;
@tailwind components;
@tailwind utilities;

.titre{
    font-family: 'Glass Antiqua', cursive;
    font-weight: bold;
}

@layer utilities {
    @variants responsive {

        /* Hide scrollbar for Chrome, Safari and Opera */
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }
    }
}